!!! 5
html(lang="en")
  head
    title haikutes
    link(rel='stylesheet', type='text/css', href='/css/bootstrap.min.css')
    meta(name='viewport', content='width = 350')
    script(type='text/javascript', src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.js')
    script(type='text/javascript', src='http://documentcloud.github.com/underscore/underscore.js')
    script(type='text/javascript', src='http://documentcloud.github.com/backbone/backbone.js')
    script(type='text/javascript', src='/js/lib/hypher.js')
    script(type='text/javascript', src='/js/lib/hyph-patterns/en-us.js')
    script(type='text/javascript', src='/js/main.js')
    style
      body {
        padding-top: 60px;
      }
      .navbar form {
        margin: 0;
      }
  body
    .navbar.navbar-fixed
      .navbar-inner
        .container
           a.brand(href='/') haikutes
           form.pull-right
             a.btn.info.nav-back(href='javascript:void(0)') See Haikus &raquo;
    .view
      !=body